.Contact-Message-form-wrapper {
	background-color: #DDD;
}

.Contact-Message-form {
	background-color: #FFF; 
	width: 800px;
	box-sizing: border-box;
 	padding: 90px 70px;
 	border-radius: 2px;
	margin: 100px auto;
}

.Contact-Icon {
	background-color: #FFF;
	background-image: url('letter.png');
	background-repeat: no-repeat;
	background-position: center;
	width: 100px;
	height: 100px;
	border-radius: 50%;
	border: 2px solid #EEE;
	position: absolute;
	top: 50px;
	left: calc(50% - 50px);	
}

.Contact-Headline {
	font-family: Arial;
	font-size: 30px;
	text-align: center;	
	display: block;
	margin-bottom: 30px;
}

.Contact-Name-Email {
	/* 800 - общая ширина формы
	 * 2 отступа по 70px = 140px
	 * 20px промежуток между элементами
	 * почему без -2px элементы не вмещаются в одну строку? 
	 * на что они выделяются?
	 */
	width: calc((800px - 160px)/2 - 2px);
	height: 60px;
	box-sizing: border-box;
	padding: 18px;
	border: 2px solid #DDD;
	outline: none;
	border-radius: 2px;
	font-size: 20px;
	color: #333;
	display: inline-block;
	margin-bottom: 30px;
	display: inline-block;
}

.Contact-Name {
	margin-right: 20px;	
}

.Contact-Message {
	width: calc(800px - 140px);
	height: 200px;
	box-sizing: border-box;
	padding: 15px;
	border: 2px solid  #DDD;
	outline: none;
	border-radius: 2px;
	font-size: 16px;
	color: #333;
	display: block;
	margin-bottom: 30px;
}

.Contact-Button-Send {
	background-color: #F45;
	width: 100px;
	height: 50px;
	box-sizing: border-box;
	border: 2px solid  #F45;
	outline: none;
	border-radius: 2px;
	font-size: 18px;
	color: #FFF;
	display: block;
	margin: 0px 0px 0px auto;
}

.Contact-Button-Send:focus, .Contact-Button-Send:active {
	background-color: #333;
	border: 3px solid  #333;
}

.Contact-Inputs-focus:focus{
	border: 3px solid  #F45;
}
